[submodule "lib/libqrencode"]
	path = lib/libqrencode
	url = https://github.com/think-biq/libqrencode
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/cofyc/argparse
[submodule "lib/JustOnce"]
	path = lib/JustOnce
	url = https://github.com/think-biq/JustOnce
