[submodule "third-party/argparse"]
	path = third-party/argparse
	url = https://github.com/cofyc/argparse
[submodule "third-party/JustOnce"]
	path = third-party/JustOnce
	url = https://github.com/think-biq/JustOnce
[submodule "third-party/libqrencode"]
	path = third-party/libqrencode
	url = https://github.com/think-biq/libqrencode
